.rb-button {
    background-color: #fff;
    position: relative;
    display: block;
}

/* .rb-button::before {
    content: "";
    box-sizing:border-box;
    transform:scale(.5);
    border: 1px solid #ddd;
    border-radius: 10px;
    top: 0;
    left: 0;
    position:absolute;
    width: 200%;
    height: 200%;
} */

.rb-button.primary {
    color: #fff;
    background-color: #108ee9;
}

.rb-button.warning {
    color: #fff;
    background-color: #e94f4f;
}

.rb-button.rb-button-active {
    background-color: #ddd;
}