.rb-button {
  background-color: #fff;
  position: relative;
  align-items: unset;
  width: 100%;
  font-size: 18px;
  height: 47px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
}

.rb-button::after {
  transform-origin: 0 0;
  content: ' ';
  box-sizing: border-box;
  transform: scale(0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  top: 0;
  left: 0;
  position: absolute;
  width: 200%;
  height: 200%;
}

.rb-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.rb-button.primary {
  color: #fff;
  background-color: #108ee9;
}

.rb-button.rb-button-small {
  font-size: 13px;
  height: 30px;
  width: unset;
  float: left;
  margin: 4px;
  line-height: 30px;
}

.rb-button.warning {
  color: #fff;
  background-color: #e94f4f;
}

.rb-button.rb-button-inline {
  float: left;
  width: unset;
  margin: 4px;
}

/* .rb-button.rb-button-inline::after {
    content: '';
    display: inline-block;
} */

.rb-button.rb-button-active {
  background-color: #ddd;
}
