.rb-tab-content-wrap {
    overflow: hidden;
}

.rb-tab-header-wrapper {
    /* overflow: scroll; */
    overflow: hidden;
}

.rb-tab-header-container {
    display: flex;
    flex-direction: row;
}

.rb-tab-content-container {
    display: flex;
    flex-direction: row;
    transition: all .3s;
}

.rb-tab-header-container>.rb-tab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 33.33333%;
    height: 43.5px;
    background-color: white;
}

.rb-line {
    box-sizing: border-box;
    line-height: 0;
    background-color: rgb(239, 239, 239);
    width: 100%;
    height: 1px;
}

.rb-tab-underline {
    border-width: 1px;
    border-style: solid;
    position: absolute;
}

.rb-tab-underline.left {
    transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s, left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.rb-tab-underline.right {
    transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;
}