.rb-content {
    margin-left: 350px;
}

table {
    text-align: center;
    border-collapse: collapse;
    margin: 1rem 0;
    border: 1px solid #dfe2e5;
}

table th {
    border: 1px solid #dfe2e5;
    padding: .6em 1em;
    font-weight: 900;
    font-size: 17px;
    background-color: #f6f8fa;
}

table tr {
    border-top: 1px solid #dfe2e5;
}

table tr td {
    border: 1px solid #dfe2e5;
    background: 1px solid #dfe2e5;
    padding: .6em 1em;
    font-weight: 700;
    font-size: 15px;
}

tr:nth-child(2n) {
    background-color: #f6f8fa;
}